---
---

@import "{{ site.theme }}";
section {
  float: left;
  width: 100%;
  padding-top: 10px;
}

p {  
  margin: 0px 0 7px;
}

.highlighter-rouge {
  width: 60%;
  min-width: 318px;
}

footer {
  position: initial;
}
