---
---

@import "{{ site.theme }}";
section {
  width: 770px;
}
.highlighter-rouge {
  width: 380px;
}

.left {
  width: 245px;
  float: left;
}
.right {
  margin-left: 245px;
}
.clear {
  clear: both;
}
